Repository chilleregeravi/code-pr-assist: changes, and which pre-commit hooks are due for each by the changed paths.
All: github-agent-tests, database-agent-tests

.pre-commit-config.yaml:

repos:
  # Black code formatting
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        args: [--check, --diff]
        files: ^(github-agent|database-agent)/.*\.py$

  # isort import sorting
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--check-only, --diff]
        files: ^(github-agent|database-agent)/.*\.py$

  # flake8 linting
  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        files: ^(github-agent|database-agent)/.*\.py$

  # mypy type checking (commented out for simpler setup)
  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.11.2
  #   hooks:
  #     - id: mypy
  #       files: ^github-agent/.*\.py$
  #       additional_dependencies: [types-requests]
  #       args: [--config-file=mypy.ini]

  # GitHub Agent Tests
  - repo: local
    hooks:
      - id: github-agent-tests
        name: GitHub Agent Tests
        entry: bash -c 'cd github-agent && source .venv/bin/activate && make test'
        language: system
        files: ^github-agent/.*\.py$
        pass_filenames: false

  # Database Agent Tests (when available)
  - repo: local
    hooks:
      - id: database-agent-tests
        name: Database Agent Tests
        entry: bash -c 'cd database-agent && if [ -f Makefile ]; then source .venv/bin/activate && make test; else echo "Database agent tests not configured yet"; fi'
        language: system
        files: ^database-agent/.*\.py$
        pass_filenames: false

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      # Check for merge conflicts
      - id: check-merge-conflict
      # Check YAML syntax
      - id: check-yaml
      # Check for large files
      - id: check-added-large-files
        args: [--maxkb=1000]
      # Check for Python syntax errors
      - id: check-ast
      # Trim trailing whitespace
      - id: trailing-whitespace
      # Ensure files end with newline
      - id: end-of-file-fixer
        exclude: \.png$|\.jpg$|\.jpeg$|\.gif$|\.svg$

chore: modularize dev/lint/test dependencies and update CI/Dependabot/Makefile
  database-agent/Makefile
  database-agent/requirements-lint.txt
  database-agent/requirements-test.txt
  database-agent/requirements.txt
  database-agent/src/database_agent/database_agent.py
  database-agent/src/database_agent/github_client.py
  database-agent/src/database_agent/main.py
  database-agent/src/database_agent/pr_processor.py
  database-agent/src/database_agent/tracing.py
  database-agent/src/database_agent/vector_store.py
Due: database-agent-tests

fix: ensure Makefile.common and related files are up to date with modular dependency management
  .devcontainer/Dockerfile
  .github/dependabot.yml
  .github/workflows/ci.yml
  Makefile.common
  github-agent/Makefile
  github-agent/requirements-lint.txt
  github-agent/requirements-test.txt
  github-agent/requirements.txt
  github-agent/src/github_agent/agents/embedding_agent.py
  github-agent/src/github_agent/agents/github_agent.py
  github-agent/src/github_agent/agents/llm_agent.py
  github-agent/src/github_agent/github_utils.py
  github-agent/src/github_agent/main.py
  github-agent/src/github_agent/tracing.py
Due: github-agent-tests

chore: remove mypy from pre-commit and streamline linting setup with ruff
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .github/workflows/ci.yml
  .vscode/settings.json
  .vscode/tasks.json
  CONTRIBUTING.md
  DEVELOPMENT_SETUP.md
  Makefile
  README.md
  database-agent/.dockerignore
  database-agent/README.md
  database-agent/pyproject.toml
  database-agent/src/database_agent/github_client.py
  github-agent/.dockerignore
  github-agent/pyproject.toml
  github-agent/pyrightconfig.json
  pyproject.toml
Due: database-agent-tests

chore: update dependency management for agents, add requirements files, and enhance error handling in GitHub client
  .github/dependabot.yml
  .github/workflows/ci.yml
  README.md
  database-agent/requirements-dev.txt
  database-agent/requirements.txt
  database-agent/src/database_agent/exceptions.py
  database-agent/src/database_agent/github_client.py
  database-agent/src/database_agent/pr_processor.py
  database-agent/src/tests/test_github_client_advanced.py
  database-agent/src/tests/test_pr_processor.py
  database-agent/src/tests/test_pr_processor_advanced.py
  github-agent/requirements-dev.txt
  github-agent/requirements.txt
Due: database-agent-tests

chore: enhance Dependabot configuration and update CI workflows for improved dependency management
  .github/dependabot.yml
  .github/workflows/ci.yml
Due: none

chore: update devcontainer setup to include development dependencies, enhance testing commands, and improve linting tasks
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .vscode/tasks.json
Due: none

chore: refactor auto-merge workflow to streamline update handling and improve label management
  .github/workflows/auto-merge.yml
Due: none

chore: update CI workflow to remove unnecessary paths from pull request triggers
  .github/workflows/ci.yml
Due: none

chore: update auto-merge workflow to enable auto-merging for safe updates and improve logging
  .github/workflows/auto-merge.yml
Due: none

chore: update CI workflow permissions for actions to improve cache handling and streamline operations
  .github/workflows/ci.yml
Due: none
